@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
:root {
    --background: #00b4f0;
    --alt: #0086b3;
    --text: #eee;
    --highlight: #f0e218;
    --tert: #ff124f;
}

* {
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
body {
background-color: var(--background);
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: #eee;
    line-height: 1.6;
}
.login input {
    border: none;
    border-radius: 25px;
    width: 250px;
    
}

.card {
    /* width: 320px; */
    padding: 75px 30px;
    border-radius: 10px;
    border: 1px white solid;
    background-color: #28668f;
}

.login ul li{
    list-style: none;
    border: none;
}
