<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleam</title>
    <link rel="stylesheet" href={{ url_for('main.static', filename="style.css" )}}>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Fleam</h1>
    <p>A nice way to search around the country, using Craigslist.</p>
    <nav >
    <ul class="nav">
        <li>
            <a href={{ url_for('admin.login' )}}>Log In</a>
        </li>
        <li>
            <a href={{ url_for('main.index' )}}>Search</a>
        </li>
        <li>
            <a href={{ url_for('main.about' )}}>About</a>
        </li>
    </ul>
</nav>
    {% block content %}
    {% endblock %}
    <footer>
        <p>Neuro Design &copy 2020</p>
    </footer>
</body>
</html>